@model IEnumerable<Core.Entities.PortfolioItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div style="padding:100px 0px 50px 10px">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th style="width:50px">
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th style="width:100px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img src="~/img/portfolio/@item.ImageUrl" style="width:100px; height:100px"/>
                    </td>
                    <td style="width:200px">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>